
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Choix du mot de passe</title>
   <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
   <div class="login-container">
      <div>
         <img src="assets/images/logo.png" />
      </div>
      <h3><%= email %></h3>

      <h2>Choisissez votre mot de passe</h2>
      <form action="/register_set_password" method="POST">
         <div class="form-group mb-2">
            <label for="password">Mot de passe</label>
            <div class="input-container">
               <span class="icon">🔒</span>
               <input type="password" id="password" minlength="6" name="password" placeholder="********" required>
            </div>
         </div>
         <div class="form-group mb-2">
            <label for="password2">Mot de passe (confirmer)</label>
            <div class="input-container">
               <span class="icon">🔒</span>
               <input type="password" id="password2" minlength="6" name="password2" placeholder="********" required>
            </div>
         </div>

         <!-- hidden data -->
         <input type="hidden" name="email" value="<%= email %>">

         <p class="error"><%= errorMessage %></p>

         </>
         <div class="mb-2">
            <button type="submit" class="large-button">Créer</button>
         </div>
         <div>
            <a href="/login">Connexion</a>
         </div>
      </form>
   </div>
</body>
</html>
