
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Visites</title>
   <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
   <div class="login-container">
      <div>
         <img src="assets/images/logo.png" />
      </div>
      <h2>Visites</h2>
   </div>
</body>
</html>
