
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vérification</title>
   <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
   <div class="login-container">
      <div>
         <img src="assets/images/logo.png" />
      </div>
      <h2>Vérifiez votre boite mail et tapez le code de confirmation</h2>

      <form action="/verify_login_code" method="POST">
         <div class="form-group mb-2">
            <label for="code">Code de confirmation</label>
            <div class="input-container">
               <span class="icon">@</span>
               <input type="text" id="code" name="code" placeholder="Ex: 12345" required>
            </div>
         </div>

         <!-- used to silently transmit email -->
         <input type="hidden" name="email" value="<%= email %>">

         <p class="error"><%= errorMessage %></p>

         </>
         <div class="mb-2">
            <button type="submit" class="large-button">Continuer</button>
         </div>
         <div>
            <a href="/login">Connexion</a>
         </div>
      </form>
   </div>
</body>
</html>
